/* Base */
body {
  margin: 0;
  font-family: Jua;
  background: #f8f4ec;
  color: #2f6f4f;
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 10;
}

.navbar a {
  text-decoration: none;
  color: #2f6f4f;
  padding: 12px 24px;
  border-radius: 30px;
  border: 2px solid #2f6f4f;
  font-weight: bold;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background: #2f6f4f;
  color: #f8f4ec;
}

/* Sections */
.section {
  position: relative;
  min-height: 100vh;
  padding: 160px 80px 80px 80px;
  overflow: hidden;
  scroll-margin-top: 120px;
}

/* Home Centered */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* For other sections to be at top of page */
.section:not(#home) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* Page Headers */
.section h1 {
  font-size: 48px;
  margin-bottom: 5px;
}

/* Smaller Writing */
.section h2 {
  font-size: 32px;
  margin-bottom: 5px;
}


/* Glow Circle */
.section::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  filter: blur(180px);
  opacity: 0.7; 
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background 0.8s ease;
}

/* Start Positions */
.left::before {
  left: 5%;
  animation: driftRight 15s ease-in-out infinite alternate;
}

.right::before {
  right: 5%;
  animation: driftLeft 15s ease-in-out infinite alternate;
}

/* Drift Animations */
@keyframes driftRight {
  from {
    transform: translateY(-50%) translateX(200px);
  }
  to {
    transform: translateY(-50%) translateX(0px);
  }
}

@keyframes driftLeft {
  from {
    transform: translateY(-50%) translateX(0px);
  }
  to {
    transform: translateY(-50%) translateX(-200px);
  }
}

/* Stronger Color Gradients */
.green::before {
  background: radial-gradient(circle, rgba(0,170,0,0.9), transparent 60%);
}

.purple::before {
  background: radial-gradient(circle, rgba(170,0,170,0.9), transparent 60%);
}

.red::before {
  background: radial-gradient(circle, rgba(255,60,60,0.9), transparent 60%);
}

/* Keep text above */
.section h1,
.section h2,
.section p {
  position: relative;
  z-index: 1;
}

.section {
  scroll-margin-top: 120px;
}